body{
    background-color: black;
    color: white;
}
.title{
    font-family: "Berlin Sans FB",cursive;
    font-size: 25px;
    color: azure;
    background-color: rgb(33, 28, 45);
}

.controlbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control{
    width: 100%;
    height: 30px;
    font-family: "Comic Sans MS",cursive;
}

.container{
    margin: 10px;

    background-color: rgb(43, 43, 43);
    width: 95%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
}

.elements_Button{
    color: white;
    background-color: rgb(12, 204, 172);
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
}

.elements_Input{
    color: white;
    background-color: rgb(12, 204, 172);
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
    resize: horizontal;
    overflow: auto;
}

.elements_Select{
    color: white;
    background-color: rgb(12, 204, 172);
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
}

.elements_Textarea{
    color: white;
    background-color: rgb(12, 204, 172);
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
    resize: both;
    overflow: auto;
}

.elements_div{
    color: white;
    background-color: rgb(12, 204, 172);
    padding: 5px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
}

.propertiesLabelInputs{
    color: white;
    background-color: rgb(51, 51, 51);
    width: 45px;
    height: 30px;
    border-radius: 10px;
    margin: 3px;
    font-family: "Comic Sans MS";
    resize: horizontal;
    overflow: auto;
}

.propertiesLabel{
    color:wheat;
    font-family: "Berlin Sans FB",cursive;
    font-size: 15px;
    margin: 5px;
}

.propertiesWidgets{
    color: white;
    background-color: rgb(51, 51, 51);
    min-width: 100px;
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin: 3px;
    font-family: "Comic Sans MS";
    resize: horizontal;
    overflow: auto;
}